body {
    font-family: Arial;
    background: #ecf0f1;
    margin: 0px;
  }

.titleImage {
    border-radius: 100%; /*Make sure image is square! */
    width: 20%;
    box-shadow: 0px 0px 5px 2px grey;
}
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .column {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px #bdc3c7;
  }

  .btn {
    background-color: #4CAF50; /* Green */
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
  }

  